- let truncationTitle = config.title
script(data-pjax).
  var themeColorMeta = document.querySelector('meta[name="theme-color"]');
  var pageHeaderEl = document.getElementById("page-header");
  var navMusicEl = document.getElementById("nav-music");
  var consoleEl = document.getElementById("console");
  // 已隨機的歌曲
  var selectRandomSong = [];
  // 音樂預設聲音大小
  var musicVolume = 0.8;
  // 是否切換了周杰倫音樂列表
  var changeMusicListFlag = false;
  // 當前預設播放列表
  var defaultPlayMusicList = [];

  document.getElementById("page-name").innerText = document.title.split(" | #{truncationTitle}")[0];
  anzhiyu.initIndexEssay();
  anzhiyu.changeTimeInEssay();
  anzhiyu.removeBodyPaceClass();
  anzhiyu.qrcodeCreate();
  anzhiyu.changeTimeInAlbumDetail();
  anzhiyu.reflashEssayWaterFall();
  anzhiyu.sayhi();
  anzhiyu.stopImgRightDrag();
  anzhiyu.addNavBackgroundInit();
  anzhiyu.setValueToBodyType();
  anzhiyu.catalogActive();
  anzhiyu.tagsPageActive();
  anzhiyu.categoriesBarActive();
  anzhiyu.topCategoriesBarScroll();
  anzhiyu.switchRightClickMenuHotReview();
  anzhiyu.getCustomPlayList();
  anzhiyu.addEventListenerConsoleMusicList(false);
  setTimeout(() => {
    if (typeof addFriendLinksInFooter === "function") {
      addFriendLinksInFooter();
    }
  }, 200)

