script.
  //動態標題
  let leaveTitle = '#{theme.diytitle.leaveTitle}';
  let backTitle = '#{theme.diytitle.backTitle}';
  let OriginTitile = document.title
  let titleTime
  document.addEventListener('visibilitychange', function () {
    if (document.hidden) {
      //離開當前頁面時標籤顯示內容
      document.title = leaveTitle
      clearTimeout(titleTime)
    } else {
      //返回當前頁面時標籤顯示內容
      document.title = backTitle + OriginTitile
      //兩秒後變回正常標題
      titleTime = setTimeout(function () {
        document.title = OriginTitile
      }, 2000)
    }
  })
