p.p.subtitle
  font-weight: bold
  color: mix(#44D7B6, #444, 75)
  font-size: 1.25rem !important
  padding-top: 1.5rem
  &:first-child
    padding-top: 1rem

span.p,p.p
  &.left
    display: block
    text-align: left
  &.center
    display: block
    text-align: center
  &.right
    display: block
    text-align: right

span.p,p.p
  &.small
    font-size: var(--global-font-size)
  &.large
    font-size: 2.5rem
    line-height: 1.4
  &.huge
    font-size: 4rem
    line-height: 1.4
  &.ultra
    font-size: 6rem
    line-height: 1.4
  &.small,&.large,&.huge,&.ultra
    margin: 0
    padding: 0
  &.bold
    font-weight: bold
  &.h1,&.h2
    padding-bottom: .2rem
    font-weight: 500
  &.h1
    font-size: 2em
    color: var(--anzhiyu-main)
    font-weight: bold
  &.h2
    font-size: 1.8em
    color: var(--anzhiyu-main)
    font-weight: bold
  &.h3
    font-size: 1.6em
    color: var(--anzhiyu-main)
    font-weight: bold
  &.h4
    font-size: 1.4em
    color: var(--anzhiyu-main)
    font-weight: bold
  &.h5
    font-size: 1.2em
    color: var(--anzhiyu-main)
    font-weight: bold

span.p,p.p
  &.red
    color: var(--anzhiyu-red)
  &.yellow
    color: var(--anzhiyu-yellow)
  &.green
    color: var(--anzhiyu-green)
  &.cyan
    color: var(--anzhiyu-cyan)
  &.blue
    color: var(--anzhiyu-blue)
  &.purple
    color: var(--anzhiyu-purple)
  &.gray
    color: var(--anzhiyu-gray)
  &.main
    color: var(--anzhiyu-main)
    font-weight: bold
